PG_HOST=your-rds-endpoint.rds.amazonaws.com
PG_PORT=3306
PG_DATABASE=sakila
PG_USER=admin
PG_PASSWORD=your_password

CH_HOST=your-ec2-ip
CH_PORT=9000
CH_USER=ch_user
CH_PASSWORD=your_password

BRONZE_DB=bronze
SILVER_DB=silver
GOLD_DB=gold
LOG_LEVEL=INFO
BATCH_SIZE=50000